.popup {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #000;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .7s, opacity .7s linear;
  z-index: 50;
};