.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  margin-top: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.popup__input:first-of-type {
  margin-top: 54px;
}

@media screen and (max-width: 600px) {
  .popup__input:first-of-type {
    margin-top: 75px;
  }
}