.login {
  width: 80%;
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

@media screen and (max-width: 600px){
  .login {
    padding-top: 0px;
  }  
}