.login__input {
    width: 358px;
    margin: 30px auto 0;
    border: 1px solid #CCC;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 16px;
    background-color: black;
    color:  #CCC;
}

.login__input:first-of-type {
    margin-top: 50px;
  }

@media screen and (max-width: 600px){
    .login__input{
        width: 260px;    
    }
    .login__input:first-of-type {
        margin-top: 40px;
      }

}