.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .profile__title {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}